body { padding: 0px !important;
}

nav{
    padding: 0px !important;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img.Bmw {
    width: 88%;
    height: 40%;
    float:right;
}
img.Audi {
    width: 88%;
    float: right;
}

img.Mercedes {
    width: 88%;
    float: right;
}

.card{
    min-width: 100%;
}

img.Logo {
    background-color: #375a7f;
}