@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="column">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Audi A7</div>
            <img class="card-img-top" src="~/Content/audia7.jpg" class="Audi" alt="Responsive image">
            <div class="card-body">
                <h4 class="card-title">Audi A7</h4>
                <p class="card-text">
                    Audi Sportbek koncept je konceptno vozilo koje pokreće 3.0-litarski V6 TDI čist dizel motor 225 PS
                    (165 kW; 222 hp) i 550 N⋅m (406 lbf⋅ft) obrtnog momenta. Poseduje sedmobrzinski S tronik menjač,
                    kvatro sistem stalnog pogona na sva četiri točka, prednje vešanje sa pet spojnica,
                    amortizere za kontrolu kontinualnog prigušenja, elektromehaničko upravljanje,
                    keramičke kočione diskove (380 mm napred i 356 mm pozadi),
                    prednji šestoklipni monoblok aluminijumsku kočnu čeljust,
                    kočnice sa zadnjim plivajućim čeljustima i 21-inčni točkovi.
                </p>
            </div>
        </div>
    </div>

    <div class="column">


        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Bmw 320i</div>
            <img class="card-img-top" src="~/Content/bmwf330i.jpg" class="Bmw" alt="Responsive image">
            <div class="card-body">
                <h4 class="card-title">Bmw 320i</h4>
                <p class="card-text">
                    BMW F30 je šesta generacija serije 3, nemačkog proizvođača automobila BMW i činili su ga limuzina/sedan (interne oznake F30), karavan (oznake F31) i liftbek ("Gran Turismo" oznake F34). F30/F31/F34 su se proizvodili od 2011. do 2019. godine i često se zajedno nazivaju F30.
                    BMW F30 je prvi put predstavljen u Minhenu oktobra 2011. godine, a na tržištu se našao u proleće 2012. godine.
                    Spoljašnji izgled sedan šeste generacije je dizajnirao Kristofer Vajl, a karavan je dizajnirao Miheal de Bono.
                    Kabriolet i kupe su izdvojeni iz serije 3 i revidirani prodaju se kao BMW serija 4.
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Mercedes G-class</div>
            <img class="card-img-top" src="~/Content/gclass.jpg" class="Mercedes" alt="Responsive image">
            <div class="card-body">
                <h4 class="card-title">Mercedes G-class</h4>
                <p class="card-text">
                    G-Klasa je živa legenda koja ima kultni status širom sveta. U početku,
                    ovaj Mercedes-Benz bio je zamišljen kao spartansko terensko vojno vozilo,
                    da bi nakon nekoliko decenija postao vrhunski statusni simbol.
                    Ali i dalje je u stanju da bez zrna straha siđe sa asfalta i krene gde god poželite.
                    Malo ko je ravnodušan u vezi ovog terenca. Da, on je i dalje pravi terenac,
                    za razliku od čitave vojske raznih SUV-ova i krosovera,
                    čiji se broj iz dana u dan povećava iako realno skoro nikome nisu zaista potrebni.
                    Jednostavno, ljudi vole „džipove“.
                </p>
            </div>
        </div>
    </div>
</div>